<!DOCTYPE html>
<html>
<head>
    <title>Lock-8 website</title>
    <meta charset="UTF-8" />
</head>
<body>
{% block body %}

    {#<script src="{{ asset('js/main.js') }}"></script>#}
    <script src="{{ asset('js/autobahn.js') }}"></script>
    <script src="{{ asset('js/client_side.js') }}"></script>
    <script src="{{ asset('js/d3.v4.min.js') }}"></script>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% else %}
        Not logged and here talk to developer please
    {% endif %}
    Site

{% endblock %}
</body>
</html>
